<ul class="lista_chat" id="contacts-list">
	{{# users}}
		<a class='btnDialogs' data="{{jid}}" >
			<li class='persona' >
				<div class='circle-frame'>
					<img src='{{../cordova_full_path}}images/Icon-60@3x.png'>
				</div>
				<h5 style='margin-top:10px'>{{nombre}} {{apellido}}</h5>
			</li>
		</a>
	{{/ users}}
</ul>