	<header class="hwhite2">
		<div class="toolbar">
			<a class="back hook" data-resource="home" href="home.html">
				<img src="{{cordova_full_path}}images/back.svg">
			</a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>

	<div class="content list-group pre-scrollable nice-scroll" id="messages-pool" style="opacity:0">

	</div>

	<footer class="message-bar escribir">
		<form class="form-inline" role="form" method="POST" action="" onsubmit="return submit_handler(this)">
			<input type="file" capture="camera" accept="image/*" name="galeria" id="load-img" style="z-index:-1; position:absolute; ">
			<a href="#" class="attach" onclick="$('#load-img').click();">
				<img src="{{cordova_full_path}}images/attach.svg">
			</a>
			<textarea id="mensaje-chat" rows="1" >Mensaje</textarea>
			<input type="submit" class="send cpur" value="Enviar" onclick="clickSendMessage();">
		</form>
	</footer>

