
	<header class="hwhite2">
		<div class="toolbar">
			<a class="back hook" data-resource="user-list" href="lista-usuarios.html"><img src="{{cordova_full_path}}images/back.svg"></a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>
	<section class="coming_soon">
		<img src="{{cordova_full_path}}images/coming_soon.svg" class="image_message">
	</section>

