	
	<section class="view {{# unless data.is_scrollable }}full_noscroll{{/ unless}}">

	</section>
	<div class="loader_container" id="spinner">
		<div class="loading"></div>
	</div>
	<div id="blur" class="blur"></div>