	<div class="create-new-diet">
		<header class="hwhite2">
			<div class="toolbar">
				<a class="back" href="dietas.html"><img src="{{cordova_full_path}}images/back.svg"></a>
				<h2 class="titulo">{{header_title}}</h2>
			</div>
		</header>
		<h5>Nombre</h5>
		<div class="box-input-1">
			<input type="text" name="nombre" placeholder="Nombre de la dieta">
		</div>
		<h5>Comentario</h5>
		<div class="box-input-1">
			<input type="text" name="comentario" placeholder="Comentarios">
		</div>
		<br>
		<a class="btn-gre" href="dieta.html">Copiar</a>
	</div>