	<header class="hwhite2">
		<div class="toolbar">
			<a class="back" href="dietas.html"><img src="{{cordova_full_path}}images/back.svg"></a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>
	<form id="create_diet_form">
		<h5>Nombre</h5>
		<div class="box-input-1">
			<input type="text" id="diet_name" name="diet_name" placeholder="Nombre de la dieta">
		</div>
		<h5>Comentario</h5>
		<div class="box-input-1">
			<input type="text" id="diet_comment" name="diet_comment" placeholder="Comentarios">
		</div>
		<br>
		<div id="create_new_diet" class="btn-gre">Crear</div>
	</form>