	<header class="hwhite2">
		<div class="toolbar">
			<a href="platillos.html" class="back"><img src="{{cordova_full_path}}images/back.svg"></a>
			<h2 class="titulo">{{header_title}}</h2>
			<a class="add">Guardar</a>
		</div>
	</header>
	<div class="meal-name snack1">
		<h1>+ SNACK 1</h1>
	</div>
	<div class="platillo">
		<nav class="set-public">
			<input type="checkbox" name="public" value="1">
			<span>Mostrar como<br>platillo público</span>
		</nav>
		<textarea class="name_platillo" name="descripcion" rows="2" placeholder="Nombre del platillo"></textarea>
		<div class="receta">
			<textarea rows="2" name="receta" placeholder="Receta del platillo"></textarea>
		</div>
		<div class="comentario" >
			<textarea name="comentario" rows="2" placeholder="Comentario de la receta"></textarea>
		</div>
		<h6 class="ingred">
			<a class="snack1 hook" data-resource="ingredients-list" href="ingredientes.html" >+</a> Ingedientes
		</h6>
		<div id="lista_de_ingredientes"></div>
	</div>
