	<header class="hwhite2">
		<div class="toolbar">
			<a class="back hook" data-resource="home" href="home.html">
				<img src="{{cordova_full_path}}images/back.svg">
			</a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>
	<div class="insert-content {{^ controls}} no_controls{{/ controls}}">
		
	</div>

	<a class="btn-gre hook create-diet" data-resource="create-diet" href="crear-dieta.html">Crear Dieta</a>
	<div class="overscreen4" style="display:none">
		<div class="ov-filler2"></div>
		<div class="dialog">
			<h5>Eliminar</h5>
			<p>¿Estás seguro que deseas eliminar esta dieta?</p>
			<div class="di-options">
				<a id="delete-diet" class="accept">Aceptar</a>
				<a id="cancelar" class="cancel">Cancelar</a>
			</div>
		</div>
	</div>
	<div class="overscreen_err" style="display:none">
		<div class="ov-filler2"></div>
		<div class="dialog">
			<h5>Error al eliminar</h5>
			<p>No se puede eliminar una dieta asignada a un usuario activo.</p>
			<div class="di-options">
				<a id="aceptar_err" class="accept">Aceptar</a>
			</div>
		</div>
	</div>
	<div id="assign-diet" class="overscreen5" style="display:none">
		<div class="ov-filler2"></div>
		<div class="dialog">
			<h5>Confirmar selección</h5>
			<p>¿Deseas asignar la dieta seleccionada?</p>
			<div class="di-options">
				<a id="accept-assignation" class="accept">Aceptar</a>
				<a id="cancel-assignation" class="cancel">Cancelar</a>
			</div>
		</div>
	</div>