	<div id="container" class="list-platos">
		<header class="hwhite2">
			<div class="toolbar">
				<a href="dieta.html" class="back"><img src="images/back.svg"></a>
				<h2 class="titulo">Lista de Platillos</h2>
			</div>
		</header>
		<div class="priv-public">
			<a href="#" onclick="slider.uno();return false;" data="0" class="btn-platillo active">Privado</a>
			<a href="#" onclick="slider.dos();return false;" data="1" class="btn-platillo">Público</a>
		</div>
		<div id="scroller" class="swipe">
			<ul>
				<li style="display:block">
					<div class="platillos-wrapper">
						<ul class="list-dish private">
						</ul>
					</div>
				</li>
				<li style="display:none">
					<div class="platillos-wrapper">
						<ul class="list-dish public">
						</ul>
					</div>
				</li>
			</ul>
		</div>		
		<a href="crear-platillo.html" class="boton-under">Crear Platillo</a>
	</div>

	<div class="alert_meal_description" style="display:none">
		<div class="ov-filler2"></div>
		<div class="dialog">
			<h5 id="meal_name">Ginger</h5>
			<p id="meal_description">Descripcción de la receta</p>
			<div class="di-options">
				<a id="accept_add_dish" class="accept" data="">Agregar</a>
				<a id="cancel_add_dish" class="cancel">Cancelar</a>
			</div>
		</div>
	</div>
