	<header class="hwhite2">
		<div class="toolbar">
			<a class="back hook" data-resource="home" href="home.html">
				<img src="{{cordova_full_path}}images/back.svg">
			</a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>
	<div class="empty-data">
	</div>
