	<header class="hwhite">
		<div class="toolbar">
			<a class="back" href="home.html"><img src="images/back.svg"></a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>
	<a class="btn-gre">Recibo de honorarios</a>
	<p class="acumulado">Saldo acumulado del <span class="inicio"></span> al <span class="final"></span></p>
	<p class="cantidad">$ <span class="totalAcumulado">0</span> MXN</p>
	<p class="status">PAGADO</p>
	<p class="diasac">Total de días acumulados<br><span class="total">0</span></p>
	<div class="changer">
		<a class="btn_left" href="#"><img src="images/leftarrow.png"></a>
		<span class="mes"></span>
		<a class="btn_right" href="#"><img src="images/rightarrow.png"></a>
	</div>
	<table class="record">
		<tr>
			<th>Nombre</th>
			<th>Inicio</th>
			<th>Días</th>
			<th>Saldo</th>
		</tr>
		<!-- <tr>
			<td>Raúl H.</td>
			<td>15 Ago</td>
			<td>15</td>
			<td>$ 320.50</td>
		</tr> -->
	</table>