	<header>
		<div class="toolbar">
			<!-- <a class="back"><img src="images/back.svg"></a> -->
			<h2 class="titulo cpur">{{me.nombre}}</h2>
			<!-- <a class="add">Guardar</a> -->
		</div>
	</header>
	<section class="menu no-scroll">
			<a class="msj-btn bpur" href="lista-chat.html">
				<div class="btn-content">
					<p>Mensajes</p>
					<img src="images/mensajes.svg">
				</div>
			</a>
			<a class="usr-btn hook bgre" data-resource="user-list" href="lista-usuarios.html">
				<div class="btn-content">
					<p>Usuarios</p>
					<img src="images/users.svg">
				</div>
			</a>
			<a class="dit-btn nohook bred" data-resource="" href="dietas.html">
				<div class="btn-content">
					<p>Dietas</p>
					<img src="images/dietas.svg">
				</div>
			</a>
			<a class="fin-btn hook borg" data-resource="finanzas" href="finanzas.html">
				<div class="btn-content">
					<p>Finanzas</p>
					<img src="images/finances.svg">
				</div>
			</a>
			<a class="per-btn nohook byel" data-resource="" href="coach.html">
				<div class="btn-content">
					<img src="images/perfil.svg">
					<p>PERFIL</p>
				</div>
			</a>
	</section>