	
	<div>
		<img class="logo" src="images/logo.svg">

		<h4>INICIAR SESIÓN</h4>
		<form id="login_form">
			<input id="mail" 		 type="email" 	 name="mail" placeholder="Correo electrónico">
			<input id="pass" 		 type="password" name="pass" placeholder="Contraseña">
			<input id="enviar_login" type="submit" 	 value="">
		</form>
		
	</div>

	<div class="overscreen2" style="display:none">
		<div class="ov-filler2"></div>
		<div class="dialog">
			<h5>Error al iniciar sesión</h5>
			<p>No se ha podido inciar sesión. Nombre de usuario o<br>contraseña incorrectos.</p>
			<div class="di-options">
				<a class="cancel">Aceptar</a>
			</div>
		</div>
	</div>