	<header class="hwhite2">
		<div class="toolbar">
			<a class="back hook" data-resource="about" href="about.html">
				<img src="{{cordova_full_path}}images/back.svg">
			</a>
			<h2 class="titulo">{{header_title}}</h2>
		</div>
	</header>
	<h1 id="logo_soporte"></h1>

	<p id="soporte">CONTACTO</p>
	<section class="bg_content_soporte">
		<div>
			<p class="small">Escríbenos a</p>
		</div>
		<div>
			<a href="mailto:contacto@gingerapp.mx">
				<p class="small">contacto@gingerapp.mx</p>
			</a>
		</div>
	</section>
	<section class="bg_blur_soporte"></section>
